<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
 
  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}


  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  {{ content_for_header }}
  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ 'skeleton.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'superfish.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
  {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}

  {% if settings.header_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,400,700">
  {% endif %}
  {% if settings.base_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,700">
  {% endif %}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}

  {% endif %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  {{'jquery.flexslider.js' | asset_url | script_tag }}
  {{'superfish.js' | asset_url | script_tag }}
  {{ 'custom_select.js'  | asset_url | script_tag }}
  {{ 'jquery.magnific-popup.min.js'  | asset_url | script_tag }}


  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  
  <div class="container">
    <header>

      <!-- Header -->
      <div class="header twelve row">

        <div class="toolbar clearfix table">
          <div class="table-cell">
            <div class="toolbar-left">
              <form action="/search" method="get" class="search-form" role="search">
                <input name="q" type="text" id="search-field" placeholder="Search store..." class="hint" />

              </form>
            </div>
            <div class="toolbar-right">
              <span class="customer-links">
                {% if shop.customer_accounts_enabled %}
                <i class="icon-user"></i> 
                {% if customer %}
                <a href="/account">My Account</a> · {{ 'Log out' | customer_logout_link }}
                {% else %}
                {{ 'My Account' | customer_login_link }}
                {% endif %}
                {% endif %}
              </span>
              <span class="cart-link">
                <i class="icon-shopping-cart"></i> <a href="/cart">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a>  
              </span>

            </div>
          </div>
        </div>
        {% if settings.use_logo %}
        <img class="header-logo" src="{{'logo.png'| asset_url}}"/>
        {% else %}
        <h1 class="header-title">
          <a href="/">{{ shop.name }}</a>
        </h1>
        {% endif %}

        <!--Header Widget -->
        <div class="header-widget">



          {% comment %}
          <!-- Social Icons -->
          <ul class="social-icons">
            <li class="tw"><a href="#"></a></li>
            <li class="fb"><a href="#"></a></li>
            <li class="yt"><a href="#"></a></li>
            <li class="rss"><a href="#"></a></li>
            {% comment %}
            <li class="ins"><a href="#"></a></li>
            <li class="pin"><a href="#"></a></li>
            <li class="vim"><a href="#"></a></li>
            <li class="tum"><a href="#"></a></li>
            <li class="gp"><a href="#"></a></li>
            {% endcomment %}
          </ul>
          <!-- End Social Icons -->
          {% endcomment %}
        </div>
        <!-- End Header Widget -->
      </div>
      <!--End Header-->


      <section id="nav" class="clearfix">
        <nav class="large sixteen clearfix">
          {% include 'dropdown' %}
        </nav> 
        <nav class="mobile clearfix">
          {% include 'mobile-menu' %}
        </nav>
      </section> 
    </header>
    <div id="main" role="main" class="sixteen columns">
      <div class="row boxify">
        {{ content_for_layout }}
      </div> 

      <!-- START SIDEBAR -->
      {% if template contains "blog" or template == "article" or template =="page" %}
      {% endif %}
      <!-- END SIDEBAR -->
    </div>
    
    <div id="overview" class="sixteen columns clearfix">
      <div id="o-inner" class="row">

        {% if settings.footer_featured_page != '' %}
        <div class=" o-content overview-third o-first">
          <h4>{{ pages.[settings.footer_featured_page].title }}</h4>
          <p>{{ pages.[settings.footer_featured_page].content | strip_html | strip_newlines | truncatewords: 45 }}</p>
          <p id="o-link"><a class="a-col" href="{{pages.[settings.footer_featured_page].url}}">Read More</a></p>
        </div>
        {% endif %}

        <div class="o-content welcome overview-third">
          <h4>{{blogs.[settings.footer_blog_post].title}}</h4>{% for article in blogs.[settings.footer_blog_post].articles limit: 1 %}
          <h6 class="article-title">{{ article.title }}</h6>
          <p>{{ article.content | strip_html | strip_newlines | truncatewords: 30 }}</p>
          <p id="o-link"><a class="a-col" href="{{ article.url }}">Read More</a></p>{% endfor %}
        </div>

        <div class="o-content newsletter overview-third">
          <h4>Newsletter</h4>
          <form id="o-form" method="post" action="{{ settings.mailing_list_form_action }}">
            <p><input type="text" placeholder="First Name" name="FNAME" id="FNAME" class="field" /></p>
            <p><input type="text" placeholder="Last Name" name="LNAME" id="LNAME" class="field" /></p>
            <p><input type="text" placeholder="Email Address" name="EMAIL" id="EMAIL" class="field" /></p>
            <input class="btn subtle" id="subscribe" type="submit" value="Subscribe" />
          </form>
        </div>
      </div>
    </div>

    <div class="footer sixteen columns clearfix">
      <footer class="row">
        <div class="footer-inner clearfix">

          {% if linklists.footer.links.size > 0 %}
          <p class="f-links eight columns alpha" role="navigation">
            {% for link in linklists.footer.links %}
            <a class="f-l-item" href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a>
            {% endfor %}
          </p>
          {% endif %}

          <p class="f-copy eight columns omega" role="contentinfo">Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}.</p>
        </div>
        <div id="footer-payment-methods">
          {% if settings.accept_amex %}{{ 'cc-amex.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_discover %}{{ 'cc-discover.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_visa %}{{ 'cc-visa.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_delta %}{{ 'cc-delta.gif' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_westernunion %}{{ 'cc-westernunion.gif' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_mastercard %}{{ 'cc-mastercard.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_maestro %}{{ 'cc-maestro.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_cirrus %}{{ 'cc-cirrus.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_paypal %}{{ 'cc-paypal.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_google %}{{ 'cc-google.png' | asset_url | img_tag }}{% endif %}
        </div>
      </footer>
    </div>


  </div><!-- end of #container -->

  {{ 'shop.js'  | asset_url | script_tag }}
  {{ 'enquire.js' | asset_url | script_tag }}


  <script>
  jQuery(document).ready(function() {

  });

  </script>


</body>
</html>
