<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />

  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}


  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  {{ content_for_header }}
  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ 'skeleton.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'superfish.css' | asset_url | stylesheet_tag }}{% comment %}
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}{% endcomment %}
  {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}

  {% if settings.header_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,400,700">
  {% endif %}

  {% if settings.fullscreen_header_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.fullscreen_header_font | remove: 'Google+' }}:300,400,700">
  {% endif %}

  {% if settings.base_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,700">
  {% endif %}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}



  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  {{'jquery.flexslider.js' | asset_url | script_tag }}
  {{'superfish.js' | asset_url | script_tag }}
  {{ 'custom_select.js'  | asset_url | script_tag }}
  {{ 'jquery.magnific-popup.min.js'  | asset_url | script_tag }}
  {{'waypoints.js' | asset_url | script_tag }}
  <script>

</script>
 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  {% if template == "index" and settings.enable_fullscreen_banner %}
    {% include 'above-fold-feature' %}
  {% endif %}

  <div class="header">
    <div class="container clearfix">

      <div class="left ">
        {% if settings.use_logo %}
        <img class="header-logo" src="{{'logo.png'| asset_url}}"/>
        {% else %}
        <h1 class="header-title">
          <a href="/">{{ shop.name }}</a>
        </h1>
        {% endif %}
      </div>

      <section id="nav" class="right">
        <nav class="large sixteen clearfix">
          {% include 'dropdown' %}
        </nav> 
        <nav class="mobile clearfix">
          {% include 'mobile-menu' %}
        </nav>
      </section>


    </div>
  </div>

  <div class="container">

    <div id="main" role="main" class="sixteen columns">
      <div class="row boxify">
        {{ content_for_layout }}
      </div> 

      <!-- START SIDEBAR -->
      {% if template contains "blog" or template == "article" or template =="page" %}
      {% endif %}
      <!-- END SIDEBAR -->
    </div>



    <div id="overview" class="sixteen columns clearfix">

      <!--Footer Navigation -->
      <div class="one-third column alpha footer-nav">
        <h4>{{ linklists.footer.title }}</h4>
        {% if linklists.footer.links.size > 0 %}
        {% for link in linklists.footer.links %}
        <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
        {% endfor %}
        {% endif %}

      </div>

      <!-- Footer Social-->
      <div class="one-third column footer-social">

        <h4>Follow Us</h4>
        <div class="social-container boxify">
          {% if settings.twitter_link != '' %}<a href="{{settings.twitter_link}}" target="_blank"><i class="social icon-twitter"></i></a>{% endif %}
          {% if settings.facebook_link != '' %}<a href="{{settings.facebook_link}}" target="_blank"><i class="social icon-facebook"></i></a>{% endif %}
          {% if settings.google_link != '' %}<a href="{{settings.google_link}}" target="_blank"><i class="social icon-google-plus"></i></a>{% endif %}
          {% if settings.youtube_link != '' %}<a href="{{settings.youtube_link}}" target="_blank"><i class="social icon-youtube"></i></a>{% endif %}
          {% if settings.pinterest_link != '' %}<a href="{{settings.pinterest_link}}" target="_blank"><i class="social icon-pinterest"></i></a>{% endif %}
          {% if settings.instagram_link != '' %}<a href="{{settings.instagram_link}}" target="_blank"><i class="social icon-instagram"></i></a>{% endif %}
          {% if settings.tumblr_link != '' %}<a href="{{settings.tumblr_link}}" target="_blank"><i class="social icon-tumblr"></i></a>{% endif %}
          {% if settings.atom_link != '' %}<a href="{{settings.atom_link}}" target="_blank"><i class="social icon-rss"></i></a>{% endif %}
        </div>
      </div>

      <!-- Footer Newsletter -->
      <div class="one-third column omega footer-news">
        <h4>Newsletter</h4>
        <form id="o-form" method="post" action="{{ settings.mailing_list_form_action }}">
          <input type="text" placeholder="Email Address" name="EMAIL" id="email" class="field" />
          <input class="btn btn-colour" id="subscribe" type="submit" value="Subscribe" />
        </form>
      </div>

    </div>
    <div class="footersixteen columns clearfix">
      <footer class="row">
        <div id="footer-payment-methods">
          {% if settings.accept_amex %}{{ 'cc-amex.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_discover %}{{ 'cc-discover.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_visa %}{{ 'cc-visa.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_delta %}{{ 'cc-delta.gif' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_westernunion %}{{ 'cc-westernunion.gif' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_mastercard %}{{ 'cc-mastercard.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_maestro %}{{ 'cc-maestro.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_cirrus %}{{ 'cc-cirrus.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_paypal %}{{ 'cc-paypal.png' | asset_url | img_tag }}{% endif %}
          {% if settings.accept_google %}{{ 'cc-google.png' | asset_url | img_tag }}{% endif %}
        </div>
        <div class="footer-inner clearfix">
          <p class="f-copy sixteen columns" role="contentinfo">Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}.</p>
        </div>
      </footer>
    </div>


  </div><!-- end of #container -->

  {{ 'shop.js'  | asset_url | script_tag }}
  {{ 'enquire.js' | asset_url | script_tag }}


  <script>
  jQuery(document).ready(function() {

  });

  </script>

</body>
</html>
