{% paginate blog.articles by 5 %}

{% if current_tags %}
<h1>{{ blog.title | link_to: blog.url }} &raquo; {{ current_tags.first }}</h1>
{% else %}
<h1>{{ blog.title }}</h1>
{% endif %}

<div class="content">
  <div class="eleven columns alpha">
    <ul id="blog-main">

      {% for article in blog.articles %}
      <li class="blog-article{% if forloop.last %} no-border{% endif %}">
        <div class="article-info">
          <h2 class="blog-article-title">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h2>
          <div class="blog-article-metadata">
            <span class="blog-article-date">
              <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time>
            </span>
            {% if blog.comments_enabled? %}
            <span class="blog-article-meta-comments"> - <a href="{{ article.url }}#comments">{{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}</a>
            </span>
            {% endif %}
          </div>
        </div>

        <div class="rte">
          {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
          {% else %}
          <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>

    {% if paginate.pages > 1 %}
    <div id="pagination">

      {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
    </div>
    {% endif %}
    {% endpaginate %}
  </div>

  {% include "sidebar" %}

</div><!--end content -->