{% comment %}
Important notes about pagination:
- Never access collection.products before the opening paginate tag.
- Never paginate by more than 50.
{% endcomment %}

{% paginate collection.products by 24 %}

{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

<h1>{{ collection.title }}</h1>

{% comment %}
Listing all tags within the current collection.
Shopify uses product tags to manage subcategories inside collections.
See 'How do I create subcategories of products?' at 
http://support.shopify.com/customer/portal/articles/75425 for details.
{% endcomment %}

{% if collection.description.size > 0 %} 
<div class="rte">
  {{ collection.description }}
</div>
{% endif %}
<hr class="divider">
{% if collection.all_tags.size > 0 %}
<div class="clearfix">
  <div class="tag-right">
    <p class="product-tags">Product Tags</p> 
    <select id="collection-tags" class="custom-select">
      <option value="">All</option>
      {% for tag in collection.all_tags %}
      {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected="selected">{{ tag }}</option>
      {% else %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
{% endif %}   

<ul class="clearfix">
{% for product in collection.products %}
  {% include 'product-grid-item' with 'three-per-row' %}
{% else %}
<p>There are no products in this view.</p>
{% endfor %}
</ul>

{% if paginate.pages > 1 %}
  {% include 'pagination' %}
{% endif %}

{% endpaginate %}
<script>
  var collFilters = jQuery('#collection-tags');
  collFilters.change(function() {
    var newTags = [];
    collFilters.each(function() { 
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    if (newTags.length) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', query);
    } 
    else {
      {% if collection.handle %}
      window.location.href = '/collections/{{ collection.handle }}';
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
    }
  });
  </script>