
{% paginate collection.products by 24 %}

<div class="clearfix">
  <div class="nine columns alpha">
    <h1>{{ collection.title }}</h1>
  </div>
  <div class="product-tags seven columns omega">
    {% if collection.all_tags.size > 0 %}
    <span class="product-tags-label">Product Tags</span>
    <select id="collection-tags" class="custom-select" style="">
      <option value="">All</option>
      {% for tag in collection.all_tags %}
      {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected="selected">{{ tag }}</option>
      {% else %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %}
      {% endfor %}
    </select>
    {% endif %}
  </div>
</div>

{% if collection.description.size > 0 %} 
<div class="rte">
  {{ collection.description }}
</div>
{% endif %}
<hr class="divider">

<ul class="clearfix">
{% for product in collection.products %}
{% include 'product-grid-item' with 'three-per-row' %}
{% else %}
<p>There are no products in this view.</p>
{% endfor %}
</ul>

{% if paginate.pages > 1 %}
{% include 'pagination' %}
{% endif %}

{% endpaginate %}
<script>
var collFilters = jQuery('#collection-tags');
collFilters.change(function() {
  var newTags = [];
  collFilters.each(function() { 
    if (jQuery(this).val()) {
      newTags.push(jQuery(this).val());
    }
  });
  if (newTags.length) {
    var query = newTags.join('+');
    window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', query);
  } 
  else {
    {% if collection.handle %}
    window.location.href = '/collections/{{ collection.handle }}';
    {% elsif collection.products.first.type == collection.title %}
    window.location.href = '{{ collection.title | url_for_type }}';
    {% elsif collection.products.first.vendor == collection.title %}
    window.location.href = '{{ collection.title | url_for_vendor }}';
    {% endif %}
  }
});
</script>