{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

{% assign page = pages.frontpage %}

{% if settings.enable_featuredproduct %}
	{% assign product = collections.[settings.frontpage_collection].products.first %}
	{% include 'product' %}
{% endif %}

{% if settings.enable_featuredproduct and settings.homepage != '' %}
<hr class="divider"/>
{% endif %}

{% if settings.homepage != ''%}
<div class="rte">
  {{ pages.[settings.homepage].content }}
</div>
{% endif %}

{% comment %}
{% endcomment %}

{% if settings.slider_check %}
<!-- Begin slider -->
<div class="flexslider-outer clearfix">
  {% if settings.slider_headline != '' %}<h5 class="flexslider-header clearfix">{% if settings.slider_featured != ''%}{{settings.slider_headline}}{% else %}Please pick a collection in your theme settings to show product slider{%endif%}</h5>{% endif  %}
    <div class="flexslider-container">
      <div class="flexslider">
          <ul class="slides">{% for product in collections[settings.slider_featured].products | limit:15 %}
            <li>
              <a href="{{ product.url | within: collections.all }}">
                <img src="{{ product.images[0] | product_img_url: "medium" }}" alt="{{ product.title | escape }}" />
              </a>
              <p class="title"><a href="{{ product.url | within: collections.all }}">{{ product.title | escape | truncate: 30 | strip_html }}</a></p>
              <p class="price">{{ product.price | money }}</p>
            </li>{% endfor %}
          </ul>
    </div>
  </div>
</div>
{% endif %}
<!-- End slider -->