{% if product-grid-item == '' %}{% assign product-grid-item = 'three-per-row' %}{% endif %}

{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

<li class="prod-grid-item  one-third column{% if product-grid-item == 'three-per-row' %} {% cycle 'first-product': 'alpha', '', 'omega' %} {% endif %}{{ product-grid-item }}{% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}">

  <div class="boxify prod-image-wrap">  
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
    </a>
  </div><!-- .prod-image-wrap -->
  
  <div class="prod-caption clearfix">
      <a href="{{ product.url | within: collection }}" class="prod-title">
        {{ product.title }}
      </a>
      <br/>
      <span class="prod-price">
        {% if product.price_varies %}From{% endif %}
        {{ product.price | money }}
        {% if on_sale %}
        <s class="compare-at-price">{{ product.compare_at_price | money }}</s>
        {% endif %}
      </span>
  </div><!-- .prod-caption -->
  
</li>
<hr class="divider show-mobile-only clearfix">

{% if product-grid-item == 'four-per-row' %}
{% cycle 'clear': '', '', '', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'three-per-row' %}
{% cycle 'clear': '', '', '<div style="clear:both"></div>' %}
{% endif %}
