<h1 class="">Search Results</h1>
<div id="search">
  
  <form action="/search" method="get" class="search-form" role="search">
    <p>
      <input class="search-box full boxify" type="text" name="q" value="{{ search.terms | escape }}" />
      <input type="submit" class=" search-submit btn full btn-green" value="Search store..." />
    </p>
  </form>
  <div style="clear:both"></div>
  <hr class="divider">
  {% comment %}
  search.performed is false when accessing the /search page without a 'q' parameter set
  in the URL. A shop-owner can link to the /search page from one of his link lists.
  It is important to show a search form on that page if search.performed is false.
  {% endcomment %}
  
  {% if search.performed %}
    
    {% paginate search.results by 10 %}
    
    {% comment %}
    Common pitfall to avoid: search.results should never be accessed before the opening 
    paginate tag. Move the opening and closing paginate tags to the very top and bottom of your
    search.liquid template if you need to.
    If you fail to do the above, the pagination of search results will be broken.
    search.results_count is fine to access in or out of the paginate block.
    {% endcomment %}
  
    {% if search.results_count == 0 %}  
    <h3>Sorry,</h3>
    <p>Your search for "{{ search.terms }}" did not yield any results.</p>              
    {% else %}
    <ul>
      {% for item in search.results %}      
      <li class="clearfix">
        <h3>{{ item.title | link_to: item.url }}</h3>
        {% if item.featured_image %}
        <div class="result-image">
          <a href="{{ item.url }}" title="{{ item.title | escape }}">
            <img src="{{item.featured_image.src | product_img_url:'small'}}"  alt="{{item.featured_image.alt}}"/>
          </a>
        </div>
        {% endif %}
        <span style="margin-left:0px;display:block;">{{ item.content | strip_html | truncatewords: 70 | highlight: search.terms }}</span>               
      </li>
      <hr class="divider">
      {% endfor %}
    </ul>
    {% endif %}    
    
    {% if paginate.pages > 1 %}
    {% include 'pagination' %}
    {% endif %}
      
    {% endpaginate %}    
    
  {% endif %}  

</div>