<li class="coll-grid-item one-third column">

  <div class="boxify coll-image-wrap">  
      {% if collection.image %}
      <img src="{{ collection.image.src | collection_img_url: 'large' }}" alt="{{ collection.image.alt | escape }}" />
      {% else %}
      <!-- NO IMAGE AVAILABLE -->
      <img src="{{ collection.products.first.featured_image.src | product_img_url: 'large' }}" alt="{{ collection.title | escape }}" />
      {% endif %} 
    
    <a href="{{ collection.url | within: collection }}" class="clearfix">
    <div class="info-container clearfix">
      <div class="info-vertical-center clearfix">
        <div class="collection-info">  
          <span class="coll-title" >
            {{ collection.title }}
          </span>
          <br/>
          <span class="coll-count">
            {{ collection.all_products_count }} {{ collection.all_products_count | pluralize:'item','items' }}
          </span>
        </div>
      </div>
    </div>
    </a>
  </div>  
  
  
</li>