
{% if collection-grid-item == '' %}{% assign collection-grid-item = 'three-per-row' %}{% endif %}

<li class="{{ collection-grid-item }} one-third column {% if collection-grid-item == 'three-per-row' %} {% cycle 'first-product': 'alpha', '', 'omega' %}{% endif %}">

<!-- SHIT 1 -->
  <div class="coll-image-wrap">  
    <a href="{{ collection.url }}">
      {% if collection.image %}
      <img src="{{ collection.image.src | collection_img_url: 'medium' }}" alt="{{ collection.image.alt | escape }}" />
      {% else %}
      <img src="{{ collection.products.first.featured_image.src | product_img_url: 'medium' }}" alt="{{ collection.title | escape }}" />
      {% endif %}
    </a>
  </div><!-- .coll-image-wrap -->
  
  <div class="coll-caption">
      <a class="coll-title" href="{{ collection.url }}">
        {{ collection.title }}
      </a>
      <span class="coll-item-count">
        {{ collection.all_products_count }} {{ collection.all_products_count | pluralize:'item','items' }}
      </span>
  </div><!-- .coll-caption -->
  
  <!-- SHIT 2 -->
  
  <div class="boxify prod-image-wrap">  
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
    </a>
  </div><!-- .prod-image-wrap -->
  
  <div class="prod-caption clearfix">
      <a href="{{ product.url | within: collection }}" class="prod-title">
        {{ product.title }}
      </a>
      <br/>
      <span class="prod-price">
        {% if product.price_varies %}From{% endif %}
        {{ product.price | money }}
        {% if on_sale %}
        <s class="compare-at-price">{{ product.compare_at_price | money }}</s>
        {% endif %}
      </span>
  </div><!-- .prod-caption -->

</li>

{% if collection-grid-item == 'four-per-row' %}
{% cycle 'clear': '', '', '', '<div style="clear:both"></div>' %}
{% elsif collection-grid-item == 'three-per-row' %}
{% cycle 'clear': '', '', '<div style="clear:both"></div>' %}
{% endif %}

<hr class="divider show-mobile-only clearfix">


