<div id="sidebar" class="five offset-by-one columns boxify omega">



  <h4>Recent Articles</h4>
  {% capture blog_handle %}{% if template == "page" %}news{% else %}{{ blog.handle }}{% endif %}{% endcapture %}

  {% if blogs.[blog_handle].articles.size > 0 %}
  <ul>
    {% for article in blogs.[blog_handle].articles limit: 4 %}
    <!-- START POST {{ forloop.index }} -->
    <li class="sidebar-item post{% if forloop.last %} no-border{% endif %}">
      <a href="{{ article.url }}">{{ article.title | escape }}</a>
    </li>
  <!-- END POST {{ forloop.index }} -->
    {% endfor %}
  </ul>
  {% else %}
    <p>No articles.</p>
  {% endif %}


  {% if template contains "blog" %}	
  {% if blog.all_tags.size > 0 %}
  <h4>Tags</h4>
  <ul>
    {% for tag in blog.all_tags %}
    <li class="sidebar-item tag {% if current_tags contains tag %}current{% endif %} {% if forloop.last %}no-border{% endif %}">
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>  

  <script type="text/javascript" charset="utf-8">
  {% for tag in blog.all_tags %}
  {% assign the_tag = tag %}
  {% assign the_tag_count = 0 %}
  var tag_count = 0
  {% for article in blogs[blog.handle].articles %}
  {% for tag in article.tags %}
  {% if tag == the_tag %}
  tag_count++;
  {% assign the_tag_count = the_tag_count | plus: 1 %}
  {% endif %}
  {% endfor %}
  {% endfor %}
  $('.{{ tag | handle }}').append('<a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="tag-count accent-text">' + '</a>');
  {% endfor %}
  </script>
  {% endif %}
  {% endif %}
</div>

