<div id="sidebar" class="five offset-by-one columns boxify omega">


{% if template contains "page" %}
  <h4>Recent Articles</h4>
  {% capture blog_handle %}{% if template == "page" %}news{% else %}{{ blog.handle }}{% endif %}{% endcapture %}

  {% if blogs.[blog_handle].articles.size > 0 %}
    {% for article in blogs.[blog_handle].articles limit: 4 %}
    <!-- START POST {{ forloop.index }} -->
    <div class="sidebar-post post{% if forloop.last %} no-border{% endif %}">
      <h6><a href="{{ article.url }}">{{ article.title | escape }}</a></h6>
      <span>{{ article.content | strip_html | strip_newlines | truncate: 80 }}</span>
    </div>
  <!-- END POST {{ forloop.index }} -->
    {% endfor %}
  {% else %}
    <p>No articles.</p>
  {% endif %}

{% elsif template contains "blog" %}
  {% if template contains "blog" or template == "article" %}	
  {% unless no_tags == 'no-tags' %}
  <ul>
    <li>
      <h4>Tags</h4>
    </li>
    {% for tag in blog.all_tags %}
    <li class="sidebar-tag {{ tag | handle }} {% if current_tags contains tag %}current{% endif %} {% if forloop.last %}last{% endif %}">
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>  

  <script type="text/javascript" charset="utf-8">
  {% for tag in blog.all_tags %}
  {% assign the_tag = tag %}
  {% assign the_tag_count = 0 %}
  var tag_count = 0
  {% for article in blogs[blog.handle].articles %}
  {% for tag in article.tags %}
  {% if tag == the_tag %}
  tag_count++;
  {% assign the_tag_count = the_tag_count | plus: 1 %}
  {% endif %}
  {% endfor %}
  {% endfor %}
  $('.{{ tag | handle }}').append('<a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="tag-count accent-text">' + '</a>');
  {% endfor %}
  </script>
  {% endunless %}
  {% endif %}
</div>

{% endif %}